<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <!-- services 라이브러리 불러오기 -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5df6089610150bf39081f4bdb1c7356a&libraries=services"></script>
  <script th:src="@{/js/totalCode.js}"></script>
  <script th:src="@{/js/login.js}"></script>
  <script th:src="@{/js/loginAjax.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>
  <div class="entire">
    <div class="title-area">
      <div>운동 잘하고 싶을 땐</div>
      <div>Muscle-up</div>
    </div>
    <div class="member-area">
      <div class="login-none-area">
        <button type="button" class="btn btn-outline-primary">로그인</button>
      </div>
      <div class="login-area">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">id</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button type="button" class="btn btn-outline-primary login-btn">login</button>
      </div>
      <div class="join-none-area">
        <button type="button" class="btn btn-outline-primary">회원가입</button>
      </div>
      <div class="join-area">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput2" placeholder="name@example.com">
          <label for="floatingInput">id</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control is-invalid password" id="floatingInput3" placeholder="name@example.com">
          <label for="floatingInput">password(영문,숫자,특수문자 8자이상)</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control is-invalid checkPwd" id="floatingInput6" placeholder="name@example.com">
          <label for="floatingInput">password 중복확인</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control is-invalid checkPhone" id="floatingInput4" placeholder="name@example.com">
          <label for="floatingInput">phone</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control is-invalid checkEmail" id="floatingInput5" placeholder="name@example.com">
          <label for="floatingInput">Email</label>
        </div>
        <div class="address-area">
          <input type="text" class="form-control" id="sample5_address" placeholder="주소">
          <input type="button" class="btn btn-outline-primary" id="search-address" value="주소 검색"><br>
        </div>
        <button type="button" class="btn btn-outline-primary join-btn">join</button>
      </div>
    </div>
  </div>

  

</body>]
</html>